# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
ENV/
env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE or editor folders
.vscode/
*.swp

