/node_modules
*.json
# /backend
# backend/.env
# Python cache files
__pycache__/
*.py[cod]
*$py.class
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyc
backend/api/routes/__pycache__/recipes.cpython-311.pyc
frontend/Dockerfile
docker-compose.yml
dockerignore
backend/Dockerfile
*.pyc
*.pyc
*.pyc
*.pyc
backend/api/controllers/__pycache__/profile.cpython-311.pyc
backend/api/routes/__pycache__/profile.cpython-311.pyc
