.navbardiv {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 12%; 
  background-color: #eaf5e4; 
  padding-top: 20px;
  border-right: 1px solid #575757;
  border-color: #1d380e;
}

.navbardiv a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(24, 23, 23);
  display: block;
  border: 1px solid #575757;
  background-color: #ccdec2;
  border-radius: 30px;
  min-width: 80%;
  text-align: center;
  margin: 5px 20px;
}

.navbardiv a:hover {
  background-color: #1d380e;
}

.navlink_div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-title{
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  display: flex;
  align-items: center;
  border: black;
  justify-content: center;
  margin: 10px;
  margin-bottom: 30px;
}
