.navbardiv {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 12%; 
  background-color: #eaf5e4; 
  padding-top: 20px;
  border-right: 1px solid #575757;
  border-color: #1d380e;
  height: 100vh;
}

.navbardiv a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(24, 23, 23);
  display: block;
  border: 1px solid #575757;
  background-color: #ccdec2;
  border-radius: 30px;
  min-width: 80%;
  text-align: center;
  margin: 5px 20px;
}

.navbardiv a:hover {
  border-right: 5px solid #1d380e;
  border-left: 5px solid #1d380e;
}

.navlink_div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-title{
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  display: flex;
  align-items: center;
  border: black;
  justify-content: center;
  margin: 10px;
  margin-bottom: 30px;
}

.nav-search{
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(24, 23, 23);
  display: block;
  border: 1px solid #575757;
  background-color: #ffffff;
  border-radius: 30px;
  min-width: 80%;
  text-align: center;
  margin: 5px 20px;
}

.nav-search-input{
  max-width: 75%;
  background-color: transparent;
}

.nav-search-button{
  max-width: 15%;
  justify-content: center;
}

.nav-search-input:focus{
  border: none;
  outline: none;
}

.signin_nav{
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(24, 23, 23);
  display: block;
  border: 1px solid #ba5719;
  background-color: #ffcf94;
  font-weight: bold;
  color: #ba5719;
  border-radius: 30px;
  min-width: 82%;
  text-align: center;
  margin: 5px 20px;
}

.signin_nav:hover{
  border-right: 5px solid #ba5719;
  border-left: 5px solid #ba5719;
}

.create_post_nav {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(24, 23, 23);
  display: block;
  border: 1px solid #1d9c3f;
  background-color: #bbf7a0;
  font-weight: bold;
  color: #1d9c3f;
  border-radius: 30px;
  min-width: 82%;
  text-align: center;
  margin: 5px 20px;
}

.create_post_nav:hover {
  border-right: 5px solid #1d9c3f;
  border-left: 5px solid #1d9c3f;
}